/* General */
:root {
    --very-light-grey-blue: #DDE7EE;
    --very-light-blue: #DDE7EE;
    --dark-grey-blue: #5E6778;
    --grey-blue: #939CAD;
    --blue: #0A327B;
    --snow: #F7FAFD;
    --red: #F65552;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-blue);
}

a {
    text-decoration: none;
    color: var(--dark-grey-blue);
}

/* Notifications */
.notifications {
    max-width: 730px;
    min-width: 480px;
    background-color: white;
    border-radius: 15px;
    padding: 2.5rem;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header__title {
    margin: 0;
    font-size: 1.8rem;
}

.unread-count {
    background-color: var(--blue);
    color: white;
    font-size: 1.5rem;
    padding: .2rem .7rem;
    border-radius: 6px;
    margin-left: .2rem;
}

/* Notification */
.notification {
    padding: 1rem;
    display: grid;
    column-gap: 1rem;
    row-gap: .6rem;
    grid-template-areas: 
    "avatar title"
    "avatar date";
    grid-template-columns: min-content 1fr;
    margin-bottom: 1rem;
}

.notification:last-child {
    margin-bottom: 0;
}

.notification--unread {
    background-color: var(--snow);
    border-radius: 8px;
}

.notification--message {
    grid-template-areas: 
    "avatar title"
    "avatar date"
    ". message";
}

.notification--picture {
    grid-template-areas: 
    "avatar title image"
    "avatar date image";
    grid-template-columns: min-content 1fr min-content;
}

.notification > * {
    margin: 0;
}

.avatar {
    width: 45px;
    height: auto;
    grid-area: avatar;
}

.notification__title {
    font-weight: normal;
    grid-area: title;
    font-size: 1.3rem;
    color: var(--dark-grey-blue);
}

.link {
    font-weight: bold;
}

.link--group {
    color: var(--blue)
}

.unread-bubble {
    background-color: var(--red);
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-left: .5rem;
    vertical-align: middle;
}

.notification__title strong {
    color: black;
}

.date {
    grid-area: date;
    font-size: 1.1rem;
    color: var(--grey-blue);
}

.notification__message {
    grid-area: message;
    border: 1px solid var(--very-light-grey-blue);
    border-radius: 5px;
    padding: 1.2rem;
    margin-top: .7rem;
    color: var(--dark-grey-blue)
}

.notification__picture {
    width: 45px;
    height: 45px;
    grid-area: image;
}